.main {
  max-width: 1400px;
  margin: auto;
}

p{
  margin: 0;
}

.user{
  width: 100%;
  margin: auto;
}

@media all and (max-width:470px){
  .user{
      
      display: flex;
      flex-direction: column;
      align-items: center;
  }
}

@media all and (min-width:1200px){
  .user{
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
  }
}







